{
  #required
  electron_dir_name: "../electron-v0.29.1-win32-x64" #version
  electron_html: "app/index.html"
  #watch dir, for reload
  browser: "./browser/"
  app: "./app/"
  web: "./web/"
  #electron: null # if use as electron application, specified directory
  #node: null # if use as nodejs application, specified directory
}
