allpattern:
  autoevent:
    test: "?am-autoevent&test"
    testNoGen: "?am-autoevent&testNoGen"
    global: "?am-autoevent&global"
    timeoutErrorIsOK: "?am-autoevent&timeout=1000"
    timeout: "?am-autoevent&timeout=5000"
    click時のasssertion（エラーでOK）: "?am-autoevent&clickAssert=true"
    click時のasssertion（assert無し）: "?am-autoevent&clickAssert=false"
  lunchTest:
    logにparam1: "?am-lunch-test&params1"
    color: "?am-lunch-test&_color"
    color子タグのみ: "?am-lunch-test&_color=.child"
    border: "?am-lunch-test&_border"
    ルートパス: "/?am-lunch-test"
    # 上からparameter変更: "?am-lunch-test&tohash" #TODO: テストケース作成
  SimpleServer:
    connectTest: "?am-simple-server&port=50001"
